<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <center>Welcome About</center>
    <button onclick="onSet()">set</button>
    <button onclick="app_jump()">返回</button>
    <button onclick="onExit()">关闭</button>
    <script>
        function onSet() {
            set('is set').then(function (res) {
                console.log(res)
            })
        }
    </script>
</body>

</html>